body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: yellow;
  padding: 120px;
  text-align: left;
}

/* Style the header */
.card {
  position: absolute;
  margin-top: -300px;
  margin-left: 700px;
  background-color: #ffe;
  padding: 24px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.button {
  background-color: orange;
  border: none;
  color: white;
  border-radius: 50%;
  position: absolute;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 168px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
transition: 1s;
border-radius: 5%;
color: rgba(0,0,0,0);
background-color: rgba(0,0,0,0);
}


.button1 {
top: 360px;
left: 100px; 
}
.p1 {
position: absolute;
top: 400px;
left: 120px;
}

.button2 {
top: 360px;
left: 550px;
}
.p2 {
position: absolute;
top: 400px;
left: 570px;
}

.button3 {
top: 360px;
left: 1000px;
}
.p3 {
position: absolute;
top: 400px;
left: 1020px;
}

.button4 {
top: 740px;
left: 100px;
}
.p4 {
position: absolute;
top: 780px;
left: 120px;
}

.button5 {
top: 740px;
left: 550px;
}
.p5 {
position: absolute;
top: 780px;
left: 570px;
}

.button6 {
top: 740px;
left: 1000px;
}
.p6 {
position: absolute;
top: 780px;
left: 1020px;
}



/* Style the footer */
.footer {
  background-color: orange;
  padding: 10px;
  text-align: center;
  margin-top: 60%;
}